* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.cart {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center  ;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 85%;
    height: 50px;
    border-radius: 20px;
    border: 3px solid black;
    padding: 10px;
}
button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    border: 3px solid black;

}
button img {
    width: 25px;
    height: 25px;
}
.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
p {
    font-size: small;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col img {
    height: 30px;
    min-width: 30px;
    margin-right: 10px;
}
.humidity ,.wind{
    font-size: larger;
}